/* Media queries */
/*
'$screen-xs-up'		=> '575.98px',
'$screen-sm-up'		=> '767.98px',
'$screen-md-up'		=> '991.98px',
'$screen-lg-up'		=> '1199.98px', 
'$screen-xl-up'		=> '1359.98px', 
'$screen-xs-down'	=> '576px',
'$screen-sm-down'	=> '768px',
'$screen-md-down'	=> '992px',
'$screen-lg-down'	=> '1200px',
'$screen-xl-down'	=> '1366px',

@media (max-width: $screen-size-up) {
	... less than ...
}
@media (min-width: $screen-size-down) {
	... more than ...
}
*/
/* Global */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montserrat/Montserrat-Light.eot');
    src: url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
         url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
         url('../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat/Montserrat-Regular.eot');
    src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  	   url('../fonts/montserrat/Montserrat-SemiBold.otf') format('opentype'),
	   url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
	   url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
	   url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Raleway-v2-ExtraLight';
	src: url('../fonts/raleway/Raleway-v2-ExtraLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/Raleway-v2-ExtraLight.woff') format('woff'),
		 url('../fonts/raleway/Raleway-v2-ExtraLight.ttf') format('truetype'), 
		 url('../fonts/raleway/Raleway-v2-ExtraLight.svg#Raleway-v2-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-v2-Regular';
	src: url('../fonts/raleway/Raleway-v2-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/Raleway-v2-Regular.woff') format('woff'),
		 url('../fonts/raleway/Raleway-v2-Regular.ttf') format('truetype'), 
		 url('../fonts/raleway/Raleway-v2-Regular.svg#Raleway-v2-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-v2-SemiBold';
	src: url('../fonts/raleway/Raleway-v2-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/raleway/Raleway-v2-SemiBold.woff') format('woff'),
		 url('../fonts/raleway/Raleway-v2-SemiBold.ttf') format('truetype'), 
		 url('../fonts/raleway/Raleway-v2-SemiBold.svg#Raleway-v2-SemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
:root {
	--main-color-pall: #00a0e6;
	--main-color-agro: #f7a628;
	--main-color-pro: #702d87;
	--main-color-black-lt: #333333;
	--main-color-gray-lt: #999999;
}
html {
	height: 100%;
}
body {
	background-color: var(--main-color-black-lt);
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
img {
	image-rendering: -webkit-optimize-contrast; /* Chrome */
}
a, a:visited, a:hover, a:active, a:focus {
	outline: 0;
	cursor: pointer;
	text-decoration: none;
}
/* Header */
header {
	float: left;
	width: 100%;
	background-color: var(--main-color-pall);
	background-image: url('../img/header-bg.jpg');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	position: relative;
}
header .header-bar {
	background-color: white;
	margin-top: 35px;
	height: 90px;
}
header .header-bar .header-logo {
    float: left;
	height: 90px;
}
header .header-bar .header-logo img {
	margin-top: -35px;
	width: 355px;
}
header .header-bar .header-items {
	font-family: 'Montserrat-Regular';
}
header .header-bar .header-items *[class*="fa-"] {
	color: var(--main-color-pall);
	font-size: 45px;
}
header .header-bar .header-items span {
	color: var(--main-color-pall);
	font-size: 14px;
	line-height: 14px;
}
header .header-bar .header-items strong {
	font-weight: normal;
	color: var(--main-color-gray-lt);
	font-size: 20px;
	line-height: 20px;
}
@media (max-width: 991.98px) {
	header .header-bar .header-items *[class*="fa-"] {
		font-size: 30px;
	}
	header .header-bar .header-items span {
		font-size: 11px;
		line-height: 11px;
	}
	header .header-bar .header-items strong {
		font-size: 17px;
		line-height: 17px;
	}
}
@media (max-width: 767.98px) {
	header .header-bar .header-logo {
		width: 260px;
	}
	header .header-bar .header-logo img {
		width: 300px;
	}
}
@media (max-width: 575.98px) {
	header .header-bar .header-logo {
		width: 155px;
	}
	header .header-bar .header-logo img {
		width: 220px;
	}
	header .header-bar .header-items *[class*="fa-"] {
		font-size: 22px;
	}
	header .header-bar .header-items strong {
		font-size: 14px;
		line-height: 14px;
	}
}
header .header-bottom {
	position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
	color: white;
}
header .header-bottom .header-text {
    display: inline-block;
	font-family: 'Montserrat-Regular';
	text-transform: uppercase;
	position: relative;
	padding: 25px 85px 25px 150px;
	margin-right: -85px;
	margin-bottom: -25px;
}
header .header-bottom .header-text::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--main-color-pall);
	left: 57px;
	top: 0px;
	transform: skewX(-50deg);
}
header .header-bottom .header-text::after {
	content: "";
	display: block;
	position: absolute;
	width: 100vw;
	height: 100%;
	background-color: var(--main-color-pall);
	left: calc(100% - 85px);
	top: 0px;
}
header .header-bottom .header-text strong {
	font-weight: normal;
	font-size: 25px;
	line-height: 25px;
	position: relative;
}
header .header-bottom .header-text span {
	font-size: 16px;
	line-height: 16px;
	position: relative;
}
@media (max-width: 767.98px) {
	header .header-bottom .header-text strong {
		font-size: 23px;
		line-height: 23px;
	}
	header .header-bottom .header-text span {
		font-size: 14px;
		line-height: 14px;
	}
}
@media (max-width: 575.98px) {
	header .header-bottom .header-text {
		padding-left: 120px;
	}
}
/* Main */
main {
	float: left;
	width: 100%;
	background-color: white;
}
main .main-item img {
	width: 105px;
	height: auto;
}
main .main-item strong {
	font-family: 'Montserrat-SemiBold';
	font-weight: normal;
	text-transform: uppercase;
}
main .main-item:nth-of-type(1) strong {
	color: var(--main-color-pall);
}
main .main-item:nth-of-type(2) strong {
	color: var(--main-color-agro);
}
main .main-item:nth-of-type(3) strong {
	color: var(--main-color-pro);
}
main .main-item span {
	font-family: 'Raleway-v2-Regular';
	font-size: 13px;
	line-height: 23px;
	color: var(--main-color-black-lt);
}
/* Footer */
footer {
	float: left;
	width: 100%;
	color: white;
	position: relative;
}
footer::before {
    background-image: url('../img/footer-bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 287px;
	height: calc(100% - 20px);
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	left: calc(50% - 380px);
}
footer .footer-logo img {
	width: 165px;
}
footer .footer-text {
	font-family: 'Raleway-v2-Regular';
	font-size: 14px;
}
footer .footer-text a,
footer .footer-text a:visited,
footer .footer-text a:hover,
footer .footer-text a:active {
	color: white;
}
footer .footer-social img {
	width: 40px;
	height: 40px;
}